<div ng-include src="'./partials/common/header.html'"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12 col">
            <h1>About me</h1>
            <p>
                My name is Harsh Malewar. I am a graduate student at San Jose State. I am currently looking for full-time software engineering positions. If you have any open positions, feel free to get in touch with me at
                <a href="mailto:harsh.malewar@gmail.com?Subject=Hello%20" target="_top">harsh.malewar@gmail.com</a>

            </p>
            <p class="text-center">Alternatively, </p>
            <p class="text-center col-sm-12 col">
                <a class="btn btn-primary btn-lg info-links"  href="http://harshmalewar.com/projects" target="_blank" title="Harsh Malewar's Website"> My Website</a>
                <a class="btn btn-primary btn-lg info-links" href="https://www.linkedin.com/in/harshmalewar" target="_blank" title="Harsh Malewar's Linkedin"> My Linkedin</a>
                <a class="btn btn-primary btn-lg info-links" href="https://github.com/harsh00008" target="_blank" title="Harsh Malewar's Github"> My Github</a></p>

        </div>
    </div>
</div>
