<div ng-include="navUrl"></div>

<div class="container-fluid" ng-controller="noteCtrl" ng-init="init()">

    <div class="col-md-3 col">
        <h3>Notes <button type="button" class="btn btn-primary" ng-click="newNote()">New</button></h3>


        <ul class="list-group">
            <li class="list-group-item note-item" ng-repeat="n in notes">
                <span class="note-title" ng-click="showNote(n)">{{n.name}}</span>
                <span ng-click="deleteNote(n.id)" class="badge"><i class="glyphicon glyphicon-trash"></i></span>
            </li>
        </ul>
    </div>

    <div class="col-md-9 col">
        <h3>Note</h3>
        <section class="row note-container">
            <input type="text" placeholder="title" ng-hide="true" ng-model="note.id">
            <input type="text" class="form-control" ng-model="note.title" ng-blur="saveNote(note)"><hr>
            <div class="large-12 columns" meditor ng-model="note.text" deep-blur="saveNote(note)">

            </div>



        </section>
    </div>

</div>

